<div ng-class="{ 'alert': flash, 'alert-success': flash.type === 'success', 'alert-danger': flash.type === 'error' }" ng-if="flash"
	 ng-bind="flash.message">
</div>

<div class="form-group" ng-class="{ 'has-error': (form.username.$dirty || form.username.$touched) && form.username.$invalid }">
	<label class="control-label" for="username">Username<font color="red">*</font>:</label>
	<input type="text" class="form-control" name="username" ng-model="vm.user.username" ng-model-options="{ updateOn: 'blur' }" placeholder="Entre com o nome de usuario"
		   required>
	<span ng-show="(form.username.$dirty || form.username.$touched) && form.username.$error.required" class="help-block">O nome de usuario é obrigatório</span>
</div>

<div class="form-group" ng-class="{ 'has-error': (form.email.$dirty || form.email.$touched) && form.email.$invalid }">
	<label class="control-label" for="email">Email<font color="red">*</font>:</label>
	<input type="email" class="form-control" name="email" ng-model="vm.user.email" ng-model-options="{ updateOn: 'blur' }" placeholder="Entre com o email"
		   required>
	<span ng-show="(form.email.$dirty || form.email.$touched) && form.email.$error.required" class="help-block">O email é obrigatório</span>
	<span ng-show="(form.email.$dirty || form.email.$touched) && form.email.$error.email" class="help-block">O email não é valido</span>
</div>

<div class="form-group" ng-class="{ 'has-error': (form.senha.$dirty || form.senha.$touched) && form.senha.$invalid }">
	<label class="control-label" for="senha">Senha<font color="red">*</font>:</label>
	<input type="password" class="form-control" name="senha" ng-model="vm.user.password" minlength="6" equals="{{vm.user.senhaconf}}"
		   ng-model-options="{ updateOn: 'blur' }" placeholder="Entre com a senha" required>
	<span ng-show="(form.senha.$dirty || form.senha.$touched) && form.senha.$error.required" class="help-block">A senha é obrigatória</span>
	<span ng-show="(form.senha.$dirty || form.senha.$touched) && form.senha.$error.minlength" class="help-block">A senha deve ter no minimo seis digitos</span>
	<span ng-show="(form.senha.$dirty || form.senha.$touched) && form.senha.$error.equals" class="help-block">As senhas são diferentes</span>
</div>

<div class="form-group" ng-class="{ 'has-error': (form.senhaconf.$dirty || form.senhaconf.$touched) && form.senhaconf.$invalid }">
	<label class="control-label" for="senhaconf">Confirmar Senha<font color="red">*</font>:</label>
	<input type=password class="form-control" name="senhaconf" ng-model="vm.user.senhaconf" equals="{{vm.user.password}}" ng-model-options="{ updateOn: 'blur' }"
		   placeholder="Entre com a senha novamente" required>
	<span ng-show="(form.senhaconf.$dirty || form.senhaconf.$touched) && form.senhaconf.$error.equals" class="help-block">As senhas são diferentes</span>
</div>

<div class="form-group" ng-class="{ 'has-error': (form.logradouro.$dirty || form.logradouro.$touched) && form.logradouro.$invalid }">
	<label class="control-label" for="logradouro">Endereço<font color="red">*</font>:</label>
	<input type="text" class="form-control" name="logradouro" ng-model="vm.user.logradouro" ng-model-options="{ updateOn: 'blur' }" placeholder="Entre com o endereço"
		   required>
	<span ng-show="(form.logradouro.$dirty || form.logradouro.$touched) && form.logradouro.$error.required" class="help-block">O endereço é obrigatório</span>
</div>

<div class="form-group" ng-class="{ 'has-error': (form.numend.$dirty || form.numend.$touched) && form.numend.$invalid }">
	<label class="control-label" for="numend">Numero<font color="red">*</font>:</label>
	<input type="number" min="0" max="9999" class="form-control" name="numend" ng-model="vm.user.numend" ng-model-options="{ updateOn: 'blur' }"
		   placeholder="Entre com o numero do endereço" required>
	<span ng-show="(form.numend.$dirty || form.numend.$touched) && form.numend.$error.required" class="help-block">O numero do endereço é obrigatório</span>
	<span ng-show="(form.numend.$dirty || form.numend.$touched) && form.numend.$error.max" class="help-block">O numero do endereço é invalido</span>
	<span ng-show="(form.numend.$dirty || form.numend.$touched) && form.numend.$invalid" class="help-block">O numero do endereço é invalido</span>
</div>

<div class="form-group" ng-class="{ 'has-error': (form.cep.$dirty || form.cep.$touched) && form.cep.$invalid }">
	<label class="control-label" for="cep">CEP<font color="red">*</font>:</label>
	<input type="text" class="form-control" name="cep" id="cep" ng-model="vm.user.cep" ng-model-options="{ updateOn: 'blur' }"
		   ui-mask="99.999-999" required>
	<span ng-show="(form.cep.$dirty || form.cep.$touched) && form.cep.$error.required" class="help-block">O cep é obrigatório</span>
</div>

<div class="form-group" ng-class="{ 'has-error': (form.cidade.$dirty || form.cidade.$touched) && form.cidade.$invalid }">
	<label class="control-label" for="cidade">Cidade<font color="red">*</font>:</label>
	<input type="text" class="form-control" name="cidade" ng-model="vm.user.cidade" ng-model-options="{ updateOn: 'blur' }" placeholder="Entre com a cidade"
		   required>
	<span ng-show="(form.cidade.$dirty || form.cidade.$touched) && form.cidade.$error.required" class="help-block">A cidade é obrigatória</span>
</div>

<div class="form-group" ng-class="{ 'has-error': (form.estado.$dirty || form.estado.$touched) && form.estado.$invalid }">
	<label class="control-label" for="estado">Estado<font color="red">*</font>:</label>
	<select class="form-control" ng-model="vm.user.estado" ng-model-options="{ updateOn: 'blur' }" name="estado" required>
		<option value="">
		<option value="AC">AC
		<option value="AL">AL
		<option value="AP">AP
		<option value="AM">AM
		<option value="BA">BA
		<option value="CE">CE   
		<option value="DF">DF
		<option value="ES">ES
		<option value="GO">GO     
		<option value="MA">MA
		<option value="MG">MG
		<option value="PA">PA
		<option value="PB">PB
		<option value="PR">PR
		<option value="PE">PE
		<option value="PI">PI
		<option value="RJ">RJ
		<option value="RN">RN
		<option value="RS">RS
		<option value="RO">RO
		<option value="RR">RR   
		<option value="SC">SC
		<option value="SP">SP
		<option value="SE">SE     
		<option value="TO">TO
	</select>
	<span ng-show="(form.estado.$dirty || form.estado.$touched) && form.estado.$error.required" class="help-block">O estado é obrigatório</span>
</div>