<div ng-class="{ 'alert': flash, 'alert-success': flash.type === 'success', 'alert-danger': flash.type === 'error' }" ng-if="flash"
	 ng-bind="flash.message">
</div>

<div class="form-group" ng-class="{ 'has-error': (form.username.$dirty || form.username.$touched) && form.username.$invalid }">
	<label class="control-label" for="username">Username<font color="red">*</font>:</label>
	<input type="text" class="form-control" name="username" ng-model="vm.user.username" ng-model-options="{ updateOn: 'blur' }" placeholder="Entre com o nome de usuario"
		   required>
	<span ng-show="(form.username.$dirty || form.username.$touched) && form.username.$error.required" class="help-block">O nome de usuario é obrigatório</span>
</div>

<div class="form-group" ng-class="{ 'has-error': (form.email.$dirty || form.email.$touched) && form.email.$invalid }">
	<label class="control-label" for="email">Email<font color="red">*</font>:</label>
	<input type="email" class="form-control" name="email" ng-model="vm.user.email" ng-model-options="{ updateOn: 'blur' }" placeholder="Entre com o email"
		   required>
	<span ng-show="(form.email.$dirty || form.email.$touched) && form.email.$error.required" class="help-block">O email é obrigatório</span>
	<span ng-show="(form.email.$dirty || form.email.$touched) && form.email.$error.email" class="help-block">O email não é valido</span>
</div>

<div class="form-group" ng-class="{ 'has-error': (form.senha.$dirty || form.senha.$touched) && form.senha.$invalid }">
	<label class="control-label" for="senha">Senha<font color="red">*</font>:</label>
	<input type="password" class="form-control" name="senha" ng-model="vm.user.password" minlength="6" equals="{{vm.user.senhaconf}}"
		   ng-model-options="{ updateOn: 'blur' }" placeholder="Entre com a senha" required>
	<span ng-show="(form.senha.$dirty || form.senha.$touched) && form.senha.$error.required" class="help-block">A senha é obrigatória</span>
	<span ng-show="(form.senha.$dirty || form.senha.$touched) && form.senha.$error.minlength" class="help-block">A senha deve ter no minimo seis digitos</span>
	<span ng-show="(form.senha.$dirty || form.senha.$touched) && form.senha.$error.equals" class="help-block">As senhas são diferentes</span>
</div>

<div class="form-group" ng-class="{ 'has-error': (form.senhaconf.$dirty || form.senhaconf.$touched) && form.senhaconf.$invalid }">
	<label class="control-label" for="senhaconf">Confirmar Senha<font color="red">*</font>:</label>
	<input type=password class="form-control" name="senhaconf" ng-model="vm.user.senhaconf" equals="{{vm.user.password}}" ng-model-options="{ updateOn: 'blur' }"
		   placeholder="Entre com a senha novamente" required>
	<span ng-show="(form.senhaconf.$dirty || form.senhaconf.$touched) && form.senhaconf.$error.equals" class="help-block">As senhas são diferentes</span>
</div>

<div class="form-group" ng-class="{ 'has-error': (form.logradouro.$dirty || form.logradouro.$touched) && form.logradouro.$invalid }">
	<label class="control-label" for="logradouro">Endereço<font color="red">*</font>:</label>
	<input type="text" class="form-control" name="logradouro" ng-model="vm.user.logradouro" ng-model-options="{ updateOn: 'blur' }" placeholder="Entre com o endereço"
		   required />
	<span ng-show="(form.logradouro.$dirty || form.logradouro.$touched) && form.logradouro.$error.required" class="help-block">O endereço é obrigatório</span>
</div>

<div class="form-group" ng-class="{ 'has-error': (form.numend.$dirty || form.numend.$touched) && form.numend.$invalid }">
	<label class="control-label" for="numend">Número:</label>
	<input type="text" ui-mask="?9?9?9?9" class="form-control" name="numend" ng-model="vm.user.numend" ng-model-options="{ updateOn: 'blur' }"
		   />
</div>

<div class="form-group" ng-class="{ 'has-error': (form.cep.$dirty || form.cep.$touched) && form.cep.$invalid }">
	<label class="control-label" for="cep">CEP<font color="red">*</font>:</label>
	<input type="text" class="form-control" name="cep" id="cep" ng-model="vm.user.cep" ng-model-options="{ updateOn: 'blur' }"
		   ui-mask="99.999-999" required>
	<span ng-show="(form.cep.$dirty || form.cep.$touched) && form.cep.$error.required" class="help-block">O cep é obrigatório</span>
</div>

<div class="form-group" ng-class="{ 'has-error': (form.cidade.$dirty || form.cidade.$touched) && form.cidade.$invalid }">
	<label class="control-label" for="cidade">Cidade<font color="red">*</font>:</label>
	<input type="text" class="form-control" name="cidade" ng-model="vm.user.cidade" ng-model-options="{ updateOn: 'blur' }" placeholder="Entre com a cidade"
		   required>
	<span ng-show="(form.cidade.$dirty || form.cidade.$touched) && form.cidade.$error.required" class="help-block">A cidade é obrigatória</span>
</div>

<div class="form-group" ng-class="{ 'has-error': (form.estado.$dirty || form.estado.$touched) && form.estado.$invalid }">
	<label class="control-label" for="estado">Estado<font color="red">*</font>:</label>
	<select class="form-control" ng-model="vm.user.estado" ng-model-options="{ updateOn: 'blur' }" name="estado" required>
		<option value=""></option>
		<option value="AC">AC</option>
		<option value="AL">AL</option>
		<option value="AP">AP</option>
		<option value="AM">AM</option>
		<option value="BA">BA</option>
		<option value="CE">CE</option>   
		<option value="DF">DF</option>
		<option value="ES">ES</option>
		<option value="GO">GO</option>     
		<option value="MA">MA</option>
		<option value="MG">MG</option>
		<option value="PA">PA</option>
		<option value="PB">PB</option>
		<option value="PR">PR</option>
		<option value="PE">PE</option>
		<option value="PI">PI</option>
		<option value="RJ">RJ</option>
		<option value="RN">RN</option>
		<option value="RS">RS</option>
		<option value="RO">RO</option>
		<option value="RR">RR</option>   
		<option value="SC">SC</option>
		<option value="SP">SP</option>
		<option value="SE">SE</option>     
		<option value="TO">TO</option>
	</select>
	<span ng-show="(form.estado.$dirty || form.estado.$touched) && form.estado.$error.required" class="help-block">O estado é obrigatório</span>
</div>