<h2>Busca clínica ou especialidade</h2>

<div busca-rest profile-path='clinica/:id' rest-path='json/busca/{busca}/{pagina}'>

	<busca-rest-custom id="radio-tipo">
		<h3>Filtro de Tipo de Atendimento</h3>
		<div class="radio" ng-init="tipoBusca = ''">
			<label class="radio-inline active">
				<input ng-model="tipoBusca" type="radio" name="tipoAtendimento" ng-value="''">Ambos
			</label>
			<label class="radio-inline">
				<input ng-model="tipoBusca" type="radio" name="tipoAtendimento" ng-value="'GRATUITO'">Apenas Gratuito
			</label>
			<label class="radio-inline">
				<input ng-model="tipoBusca" type="radio" name="tipoAtendimento" ng-value="'PRIVADO'">Apenas Privado
			</label>
		</div>
	</busca-rest-custom>

	<busca-rest-th>Nome</busca-rest-th>
	<busca-rest-th>Endereço</busca-rest-th>
	<busca-rest-th>Especialidades</busca-rest-th>
	<busca-rest-th>Tipo</busca-rest-th>
	
	<busca-rest-td>{{ objeto.nome}}</busca-rest-td>
	<busca-rest-td>{{ objeto.endereco}}</busca-rest-td>
	<busca-rest-td ng-model="objeto.especialidades" ng-list=",">{{ objeto.especialidades}}</busca-rest-td>
	<busca-rest-td>{{ objeto.tipoAtendimento}}</busca-rest-td>
	
</div>

<a ng-hide="!usuarioAtual.authenticated" ng-href="#!/home/{{usuarioAtual.role}}"><h3>Retornar a página inicial</h3></a>
<a ng-hide="usuarioAtual.authenticated" href="#!"><h3>Retornar a página inicial</h3></a>