<h1>Olá Paciente {{vm.user}}!</h1>
<div ng-class="{ 'alert': flash, 'alert-success': flash.type === 'success', 'alert-danger': flash.type === 'error' }" ng-if="flash"
    ng-bind="flash.message">
</div>

<nav class="navbar navbar-default">
    <div class="container-fluid">

        <ul class="nav navbar-nav">
            <li role="alterar"><a href="#!/home/paciente/editar/{{vm.user}}">Alterar informações cadastradas</a></li>
        </ul>
    </div>
</nav>
<h3>Minhas Clinicas</h3>
<div ng-if='vm.user'>
    <div busca-rest profile-path='/home/paciente/:id' rest-path='/paciente/busca/{{vm.user}}/{busca}/{pagina}'>
        <busca-rest-th>Clínica</busca-rest-th>
        <busca-rest-th>Logradouro</busca-rest-th>
        <busca-rest-th>Número</busca-rest-th>

        <busca-rest-td>{{ objeto.nome}}</busca-rest-td>
        <busca-rest-td>{{ objeto.logradouro}}</busca-rest-td>
        <busca-rest-td>{{ objeto.numend}}</busca-rest-td>
    </div>
</div>